VITE_FIREBASE_API_KEY=AIzaSyBJTS3rtUs1QC7ENZ1ytWFh6wZosVz6-OI
VITE_FIREBASE_AUTH_DOMAIN=company-estudi.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=company-estudi
VITE_FIREBASE_STORAGE_BUCKET=company-estudi.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=92741013500
VITE_FIREBASE_APP_ID=1:92741013500:web:6984d5683c5d53af18ec79
VITE_FIREBASE_MEASUREMENT_ID=G-2SDXE02BGN

